@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el tema claro (por defecto) */
:root {
  --background-color: #fffdf4;
  --text-color: #333333;
}

/* Estilos para el tema oscuro */
html.dark body {
  --background-color: #1e1e1e;
  --text-color: #f5f5f5;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Estilos para el tema claro */
html.light body {
  --background-color: #fffdf4;
  --text-color: #333333;
  background-color: var(--background-color);
  color: var(--text-color);
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
}

@layer components {
  .btn-primary {
    @apply bg-v1-primary-500 text-white hover:bg-v1-primary-600;
  }
}

@layer utilities {
  .scrollbar-none {
    @apply overflow-auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
}
